<%- include('header') -%>

  <header class="heading heading--main">
    <span class="heading__category">Vefforritun</span>
    <h1 class="heading__title"><%= message %></h1>
  </header>

<%- include('footer') -%>