        <footer> 
            <% if(showBackButton){ %>
                <footer> 
                    <p>
                        <a href="/">
                            Tilbaka
                        </a>
                    </p> 
                </footer> 
          <%  }else{ %>
                <small>
                    © Fræðslumyndbandaleigan
                </small> 
           <% } %>
        </footer> 
       </main>
    </body>
</html>